@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
:root{
    --left-bg-color: linear-gradient(to bottom right,rgb(58, 9, 73) ,rgb(101,9,139), rgb(191, 88, 255));
}
*{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
body{
    margin-bottom: -1px;
    background:  rgb(27, 36, 54)
}
